 <a href="Order.html" class="delivery bg-white w-16 h-16 fixed bottom-12 right-12 rounded-full shadow-lg z-10 cursor-pointer">
      <img src="/images/delivery.png" alt="" />
    </a>
    <!-- header section starts -->
    <section id="header" class="mb-40 z-[99999]">
      <section id="nav" class=" flex w-full px-[12%] py-4 fixed top-0 left-0 bg-[#282828] z-10 h-24 justify-between gap-1 items-center">
        <a id="header_logo" href="#" class="flex w-auto h-auto items-center ">
          <img class="w-24 h-24" src="/images/logo.png" alt="" />
        </a>
        <ul class="main-menu flex items-center" id="header__navbar-modal" class="display">
          <li class="center group ">
            <a href="TrangChu.html" class="navbar__link text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap group-hover:border-b-2 group-hover:border-solid group-hover:border-[#fff]">Trang chủ</a>
          </li>
          <li class=" relative group">
            <a href="LichSuVaSuMenh.html" class="navbar__link text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap group-hover:border-b-2 group-hover:border-solid group-hover:border-[#fff]"
              >Giới thiệu <i class="fa-sharp fa-solid fa-chevron-down"></i
            ></a>
            <ul class="sub-menu absolute left-0 bg-[#282828] w-60 p-0 hidden group-hover:block ">
              <li class="">
                <a href="LichSuVaSuMenh.html" class="border-b border-gray-700 py-4 text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap hover:text-[#d3b673]">Lịch sử và sứ mệnh</a>
              </li>
              <li>
                <a href="ThanhTuuDatDuoc.html" class="border-b border-gray-700 py-4 text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap hover:text-[#d3b673]">Thành tựu đạt được</a>
              </li>
            </ul>
          </li>
          <li class="relative group">
            <a href="Instant_milktea.html" class="navbar__link text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap group-hover:border-b-2 group-hover:border-solid group-hover:border-[#fff]"
              >Sản phẩm <i class="fa-sharp fa-solid fa-chevron-down"></i
            ></a>
            <ul class="sub-menu absolute left-0 bg-[#282828] w-60 p-0 hidden  group-hover:block">
              <li class="group"><a href="Order.html" class="border-b border-gray-700 py-4 text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap hover:text-[#d3b673]">TOCOTOCO KEM TRÀ SỮA</a></li>
              <li class="group"><a href="Order.html" class="border-b border-gray-700 py-4 text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap hover:text-[#d3b673]">TOCOTOCO KEM CAFE</a></li>
              <li class="group"><a href="Order.html" class="border-b border-gray-700 py-4 text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap hover:text-[#d3b673]">INSTANT MILKTEA</a></li>
            </ul>
          </li>
          <li class="relative group">
            <a href="TinTuc.html" class="navbar__link text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap group-hover:border-b-2 group-hover:border-solid group-hover:border-[#fff]"
              >Tin tức <i class="fa-sharp fa-solid fa-chevron-down"></i
            ></a>
            <ul class="sub-menu  absolute left-0 bg-[#282828] w-60 p-0 hidden group-hover:block">
              <li class="group"><a href="TinTuc_TTKM.html" class=" border-b border-gray-700 py-4 text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap hover:text-[#d3b673]">Tin tức khuyến mãi</a></li>
              <li class="group"><a href="TinTuc_CCTH.html" class=" border-b border-gray-700 py-4 text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap hover:text-[#d3b673]">Câu chuyện thương hiệu</a></li>
              <li class="group"><a href="TinTuc_SK.html" class=" border-b border-gray-700 py-4 text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap hover:text-[#d3b673]">Sự kiện</a></li>
            </ul>
          </li>
          <li class="center group">
            <a href="/products/{{this._id}}/edit" class="navbar__link text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap group-hover:border-b-2 group-hover:border-solid group-hover:border-[#fff]">edit</a>
          </li>
          <li class="center group">
            <a href="/me/store/products" class="navbar__link text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap group-hover:border-b-2 group-hover:border-solid group-hover:border-[#fff]">Sản phẩm của tôi</a>
          </li>
          <li class="center group">
            <a href="./about" class="navbar__link text-white block py-2 px-3 text-sm text-left uppercase font-bold whitespace-no-wrap group-hover:border-b-2 group-hover:border-solid group-hover:border-[#fff]">About us</a>
          </li>
        </ul>
        <div class="btn-search w-8 h-8 rounded-full text-white cursor-pointer bg-[#d3b673] flex items-center justify-center">
         Đăng nhặp
        </div>
        <label for="toggler" id="modal" class="fas fa-bars hidden cursor-pointer text-white  rounded-md p-1"></label>
      </section>
    </section>
    <!-- header section ends -->